<template name="home">

<main id="homepage" class="content" role="main">
	
	<div class="container">

		  <section id="masthead">
		    <div class="row">
		    	<div class="col-md-8 col-md-offset-2 ">
		    		<div class="titulo">
					  	<h1>Celebraciones <span class="subfont">2.0</span></h1>

					 
					 </div>

		  		</div>
		  	</div>
		    <div class="row">
		    	<div class="col-md-4">
		    		
		    		<img class="wow bounceInLeft  animated img-responsive" src="img/boda.png">
		    	</div>

		    	<div class="col-md-4">
		    		<img class="wow bounceInUp  animated img-responsive"  src="img/bautizo.png">
		    	</div>

		    	<div class="col-md-4">
		    		<img class="wow bounceInRight  animated img-responsive" src="img/comunion.png">
		    	</div>
		    </div>
		  </section>
	</div>

	<div class="container-fluid color_2">

		  <section id="design" class="container ">
		  	<div class="row">

		  			 <div class="wow bounceInLeft  animated col-md-6" data-wow-delay="1s" >
				    	<h2>diseño creativo y personalizado</h2>
				    		<p>Diseño personalizado de la web, el menú e invitaciones.</p>
				    		<p>Creativo</p>
				    		<p>Único</p>
				    		<p>Posibilidad de recuerdo para los invitados</p>
				    </div>

				    <div class="col-md-6">
				    	<img class="wow bounceInRight animated center img-responsive" data-wow-delay="1s" src="img/bombilla.png">
				    </div>

				   
		   	</div>
		  </section>
	</div>


	<div class="container-fluid color_1">

		  <section id="design" class="container ">
			  	<div class="row">
					    <div class="col-md-6">
					    	<img  class="wow bounceInLeft animated img-responsive"  data-wow-delay="0.2s" src="img/dispositivos.png">
					    </div>

					    <div class="col-md-6 wow bounceInRight animated" data-wow-delay="0.2s">
					    	<h2>web del evento</h2>
					    	<p>web privada para gestionar los preparativos</p>
					    	<p>Fácil uso en todos los dispositivos</p>
					    	<p>Comodidad</p>
					    </div>
			   	</div>
		  </section>
	</div>


	<div class="container-fluid color_2">

		<section id="videofoto" class="container ">
		  	<div class="row">
				    <div class="col-md-6 ">
				    	<div class="center">
					    	<img class="wow bounceInUp animated img-responsive center" data-wow-delay="0.2s" src="img/cam_foto.png">
					    	<h2 id="" class="wow fadeInUp animated textcenter" data-wow-delay="0.2s">foto reportaje</h2>
				    	
					    	<div class="wow bounceInUp animated bloquetexto" data-wow-delay="0.2s">
						    	<p>Fotoreportaje de todos los momentos.</p>
						    	<p></p>
						    	<p>Descarga imágenes desde la web del evento, mediante usuario y contraseña.</p>
					    	</div>
				    	</div>

				    </div>

				    <div class="col-md-6">
					    	<div class="center right">
					    	

						    	<img class="wow bounceInUp animated  img-responsive center" data-wow-delay="0.2s" src="img/cam_video.png">

						    	<h2 id="" class="wow fadeInUp animated  textcenter" data-wow-delay="0.2s">vídeo profesional</h2>

						    	<div class="wow bounceInUp animated bloquetexto" data-wow-delay="0.2s" >
							    	<p>Filmación con cámaras de alta definición por profesionales.</p>
							    	<p>Sonido profesional.</p>
							    	<p>Edición de vídeo a cargo de expertos.</p>
							    	<p>Resultados de gran calidad.</p>
						    	</div>
					    	</div>
				    </div>
		   	</div>
		  </section>
	</div>

	<div class="container-fluid color_1">

		  <section id="videofoto" class="container ">

		   


			  	 <div class="row">
			    	<div class="col-md-8 col-md-offset-2 ">
			    		<div class="titulo">
						  	<h1 class="titulo wow fadeInUp animated" data-wow-delay="0.2s">Para un dia tan especial </h1>
						  	<h1 class="titulo wow fadeInUp animated" data-wow-delay="0.2s">una agencia especial.</h1>
						  	<img class="center logo titulo wow bounceInUp animated" data-wow-delay="0.2s" width="250"  src="img/logo.png">

						 </div>

			  		</div>
			  	</div>


			  	<div class="row">

			  			<div class="col-md-6">
					    	<div class="center">
					    	

						    	<img class="img-responsive center wow bounceInUp animated" data-wow-delay="0.2s" width="350" src="img/invitados.png">

						    	<h2 id="" class="textcenter wow fadeInUp animated" data-wow-delay="0.2s" >gestión lista invitados</h2>

						    	<div class="bloquetexto wow fadeInUp animated" data-wow-delay="0.2s">
						    	<p>Posibilidad confirmación al evento desde cualquier dispositivo, 24h.</p>
					    	
					    		</div>
					    	</div>
					    </div>

					    <div class="col-md-6">
					    	<div class="center">
							    	
							    	<img class="img-responsive center wow bounceInUp animated" data-wow-delay="0.2s" width="350" src="img/regalo.png">

							    	<h2 id="" class="textcenter wow fadeInUp animated" data-wow-delay="0.2s">gestión lista regalos</h2>

							    	<div class="bloquetexto wow fadeInUp animated" data-wow-delay="0.2s">
							    		<p>Posibilidad de gestionar la lista de regalos a tiempo real.</p>
							    	</div>
					    	</div>

					    </div>

					    
			   	</div>
		  </section>
	</div>


	<div class="container-fluid color_2">

		  <section id="menu" class="container ">

		   


		  	 <div class="row">
		    	<div class="col-md-12">
			    	<div class="center textcenter">
					    	<img class="img-responsive center wow bounceInUp animated" data-wow-delay="0.2s" width="500" src="img/menu.png">
					    	<h2 id="" class="wow fadeInUp animated" data-wow-delay="0.2s">menú</h2>
						    <div class="bloquetexto wow fadeInUp animated" data-wow-delay="0.2s">	
						    	<p>Muestra a los invitados las distintas opciones de menú.</p>
						    	<p></p>
						    	<p>Reserva del menú a través de la web por parte de los invitados.</p>
						    </div>
						   
					  </div>


			 	</div>

			</div>	    
		   
		</section>
	</div>
		  

</main>
</template>

