<template name="home">
<main id="homepage" class="content" role="main">
	<section class="masthead segment">
		<div class="ui page grid">
			
						<div class="column">
							<h1 class="ui header">Hola soy {{nombre}},</h1>
							
								<h1  class="ui header">y hago {{doing}}.</h1>
							
						</div>
			
		</div>
	</section>
	<section class="aboutus segment">
		<div class="ui page grid">
			<div class="column">
							<h1 class="ui header center">Bienvenidos a mi web</h1>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a elit bibendum, accumsan libero ac, sagittis nibh. Donec lacus mi, lobortis eget commodo a, egestas sit amet lacus. Integer pulvinar nec tortor eget posuere. Maecenas bibendum sollicitudin aliquet. Vestibulum tempor consectetur erat aliquet bibendum.</p>
							<p>Maecenas vitae odio quis ipsum fermentum sodales. Aliquam vulputate ultricies mauris, quis tempus sapien molestie ut.</p>
							

							
			</div>
		</div>
	</section>
</main>
</template>

