
<head>
   <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Celebraciones 2.0</title>
        
        <meta name="description" content="">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- tipografía de google -->
   <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
</head>

<template name="masterLayout">
  <header>
  	<nav>
  		
  	</nav>
	
</header>

  <div id="content">
    {{> yield}}
  </div>

  	<footer>
 			<small>Copyright 2014, PalmandPlay</small>
	</footer>
</template>